# Brevo API v3
# CREDENTIALS_EMAIL_PROVIDER debe ser una API key xkeysib-...
CREDENTIALS_EMAIL_PROVIDER=
CREDENTIALS_FROM_EMAIL_PROVIDER=
URL_REDIS_SYSTEM=localhost:6379
CREDENTIALREDIS=

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
CHANELRABBITMQ_NOTIFY_MSG=notifications_menssage_queue
CHANELRABBITMQ_NOTIFY_TOPIC=notifications_exchange_topic
PORT=3002
